@import 'tailwindcss';
@theme {
  --font-jakarta: var(--font-jakarta);
  --font-teko: var(--font-teko);
}

/* Styling umum untuk Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

/* Style untuk slider Services */
.embla__slide {
  flex: 0 0 80%; /* Lebar awal untuk mobile */
  min-width: 0;
  padding-left: 20px;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 40%;
  }
}
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 28%;
  }
}
@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 22%;
  }
}

/* Style KHUSUS untuk slider Testimonials */
.embla--testimonials .embla__slide {
  flex: 0 0 80%; /* 1 slide di mobile */
}
@media (min-width: 768px) {
  .embla--testimonials .embla__slide {
    flex: 0 0 50%; /* 2 slide di tablet */
  }
}
@media (min-width: 1024px) {
  .embla--testimonials .embla__slide {
    flex: 0 0 33.3333%; /* 3 slide di desktop */
  }
}

/* Style KHUSUS untuk slider Contact */
.embla--contact .embla__slide {
  flex: 0 0 90%;
  padding: 0 0.5rem; /* Memberi sedikit jarak antar slide */
}
@media (min-width: 768px) {
  .embla--contact .embla__slide {
    flex: 0 0 50%;
  }
}
@media (min-width: 1024px) {
  .embla--contact .embla__slide {
    flex: 0 0 33.3333%;
  }
}
